<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/piece.css" rel="stylesheet" >
    <script src="../js/bootstrap.min.js"></script>
    

    <title>Main page</title>
    
</head>

<body>

  <nav class="navbar sticky-top navbar-light bg-light">
    <h3 class="navbarHeader"><a class="navbarMainlink" href="/">Music database</a></h3>
    <!--the link-underline-opacity-0 property removes the underline effect from the link-->
    <a class="navbarAboutlink link-underline link-underline-opacity-0" href="/about">About</a>
  </nav>

      <div class="mainBody">
        <h1>About page</h1>
        <p>This is the final project of </p>
      </div>

    
</body>