<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/piece.css" rel="stylesheet" >
    <script src="../js/bootstrap.min.js"></script>
    
    <title>About page</title>
</head>

<body>

  <nav class="navbar sticky-top navbar-light p-2">
    <h3 class="navbarHeader"><a class="navbarMainLink" href="/">Classical Catalog</a></h3>
    <!--the link-underline-opacity-0 property removes the underline effect from the link-->
    <a class="navbarAboutlink link-underline link-underline-opacity-0" href="/about">About</a>
  </nav>

  <div class="mainBody">
    <h1>About page</h1>
    <p>This is the final project of László Stefán in the Bachelor of Science Computer Science degree at the University of London.</p>

    <h2>Licenses</h2>

    The works of Johann Sebastian Bach, Joseph Haydn and the string quartets of Wolfgang Amadeus Mozart are sourced from the Project Gutenberg library and are in the public domain. (<a href="https://gutenberg.org/policy/permission.html">link</a>)

    The other works of Mozart and the works of Johannes Brahms are sourced from the Choral Public Domain Library and have been released under the Choral Public Domain Library (CPDL) license. (<a href="https://www.cpdl.org/wiki/index.php/ChoralWiki:CPDL">link</a>)

    The works of Franz Liszt, Sergei Prokofiev and Sergei Rachmaninoff are sourced from the Aligned Scores and Performances dataset and are under the Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International license (<a href="https://github.com/fosfrancesco/asap-dataset?tab=License-1-ov-file">link</a>). 
  </div>

    
</body>