<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/piece.css" rel="stylesheet" >
    <script src="../js/bootstrap.min.js"></script>
    

    <title>Main page</title>
    
</head>

<body>
    <h1>About page</h1>
</body>