<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/piece.css" rel="stylesheet" >
    <script src="../js/bootstrap.min.js"></script>
    
    <title>Main page</title>
</head>

<body>

  <nav class="navbar sticky-top navbar-light p-2">
    <h3 class="navbarHeader"><a class="navbarMainlink" href="/">Classical Catalog</a></h3>
    <!--the link-underline-opacity-0 property removes the underline effect from the link-->
    <a class="navbarAboutlink link-underline link-underline-opacity-0" href="/about">About</a>
  </nav>

  <div class="mainBody">
    <h1>About page</h1>
    <p>This is the final project of László Stefán in the Bachelor of Science Computer Science degree at the University of London.</p>
  </div>

    
</body>