body {
  margin: 10px;
}

/*this rule removes the underline from the links*/
a {
  text-decoration: none;
}

p {
  font-size: medium;
}

div {
  overflow: hidden;
}

.gradient-bg {
  background: rgb(0,51,102); background: linear-gradient(159deg, rgba(0,51,102,1) 0%, rgba(15,82,186,1) 100%); /*taken from https://www.eggradients.com/gradient/starry-night*/
}

.navbar {
  /*setting the navbar to a dark blue color*/
  background-color: #001a49;
}

.navbarMainLink {
  color: #507ed3;
}

.navbarMainLink:hover {
  color: #fffdf6;
}

.navbarAboutlink {
  box-shadow: inset 0 0 0 0 #0049e6;
  color: #507ed3;
	padding: 0 .25rem;
	margin: 0 -.25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
} 

.navbarAboutlink:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #0049e6;;
}

h1 {
  text-align: center;
}

.centertext {
  text-align: center;
}

.card {
  background: #fff;
  border-radius: 5px;
  border-collapse: separate; 
  overflow: hidden;
  color: rgb(0, 0, 0);
  margin-bottom: 2rem;
  box-shadow: #222 1px 0 10px;
}

.card:hover {
  background: #e4e4e4;
}

.btn {
  border: 3px solid #0049e6;
  border-image-slice: 1;
  background: #001b57;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  text-decoration: none;
  transition: all .4s ease;
}

.btn:hover, .btn:focus {
  background: #76a1fd;
  -webkit-background-clip: none !important;
  -webkit-text-fill-color: #0049e6 !important;
  border: 3px solid #0049e6; 
  box-shadow: #222 1px 0 10px;
  text-decoration: none;
}

/*the gradient of the button borders, taken from https://css-tricks.com/gradient-borders-in-css/*/
.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
}

.border-gradient-blue {
  border-image-source: linear-gradient(159deg, rgba(30,144,255,1) 0%, rgba(153,186,221,1) 100%);
}

/*the div separating the individual elements*/
.separator {
  height: 2em;
}